body{
  background-color: black;
  min-width: 100%;
}

.header{
  width: 100%;
  height: 80px;
  background-color: #020e17;
  display: flex;
  min-width: 1600px;
  box-sizing: border-box;   /* border 안쪽으로 넣을때 쓰는거 */
  border-top: 3px solid #785a28;
  border-bottom: 1px solid rgba(222, 187, 128, 0.3);
  background-clip: padding-box /* border설정할 때 투명도를 건드리면 회색이 되는데, 원색을 찾기 위해서 써줘야함 */
}.headerBtnBox{
  margin-top: 10px;
  width: 80%;
  height: 60px;
  display: flex;
  align-items: center;
  min-width: 1600px;
}.headerBox1{
  min-width: 1620px;
  display: flex;
  align-items: center;
}.headerBox2{
  margin-left: 20px;
  min-width: 220px;
  display: flex;
  align-items: center;
}.noticeBtn{
  margin-left: 20px;
  margin-right: 10px;
  font-size: 25px;
  border: none;
  background: #0495a9;
  cursor: pointer;
  color: white;
  border-radius: 70%;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
}.homeBtn{
  margin-left: 20px;
  margin-right: 10px;
  font-size: 25px;
  border: none;
  background: none;
  color: #d3c495;
  cursor: pointer;
  width: 40px;
  height: 40px;
}.myInfoBtn{
  height: 30px;
  margin-left: 80%;
  cursor: pointer;
}.inventoryBtn{
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}.storeBtn{
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}.userIcon{
  margin-left: 0px;
  border-radius: 70%;
  width: 55px;
  height: 55px;
  border: #0495a9 solid 3px;
  object-fit: cover;    /* 이미지 비율 유지 */
  cursor: pointer;
}

.messenger{
  width: 250px;
  height: calc(100vh - 80px);
  background-color: #040f18;
  float: right;
}.messengerText{
  outline:none;
  border: none;
  background: none;
  font-weight: bold;
  color: #d3c495;
  float: left;
  margin: 5px;
}.messengerBtn{
  width: 18px;
  height: 18px;
  outline:none;
  border: none;
  background: none;
  float: right;
  margin: 5px;
}.messengerBtn > img{
  width: 18px;
  height: 18px;
  outline:none;
  border: none;
  background: none;
  color: black;
  float: right;
  margin: 5px;
  filter: saturate(500%);
}.messengerBtn > img:hover{
  filter: saturate(0%);
}

.span1{
  color: white;
}