body{
  background-color: black;
  min-width: 1920px;
  overflow: hidden;
}

.homeBody{
  width: 1920px;
  height: 1080px;
}
.header{
  width: 1920px;
  min-width: 1920px;
  height: 80px;
  min-width: 80px;
  background-color: #020e17;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;   /* border 안쪽으로 넣을때 쓰는거 */
  border-top: 3px solid #785a28;
  border-bottom: 1px solid rgba(222, 187, 128, 0.3);
  background-clip: padding-box /* border설정할 때 투명도를 건드리면 회색이 되는데, 원색을 찾기 위해서 써줘야함 */
}.headerBtnBox{
  width: calc(1920px - 270px);
  height: 80px;
  display: flex;
  align-items: center;
  /* border: white 1px solid; */
}.headerBtnBox > .leftBtnBox{
  width: 1300px;
  /* border: white 1px solid; */
}.headerBtnBox > .rightBtnBox{
  width: calc(1650px - 1300px);
  display: flex;
  justify-content: flex-end;
  /* border: white 1px solid; */
}.headerProfileBox{
  margin-left: 0px;
  width: 270px;
  display: flex;
  align-items: center;
}.noticeBtn{
  margin-left: 20px;
  margin-right: 10px;
  font-size: 25px;
  border: none;
  background: #0495a9;
  cursor: pointer;
  color: white;
  border-radius: 70%;
  width: 40px;
}.homeBtn{
  margin-left: 20px;
  margin-right: 10px;
  font-size: 25px;
  border: none;
  background: none;
  color: #d3c495;
  cursor: pointer;
  width: 40px;
  height: 40px;
}.boardBtn{
  font-size: 20px;
  background: none;
  border: none;
  color: #d3c495;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  width: 160px;
  height: 40px;
  &:hover{
    background: linear-gradient(180deg,rgba(255,255,255,0) 0%, rgba(255, 255, 255, 1) 100%);
  }
}.myInfoBtn{
  height: 30px;
  cursor: pointer;
}.inventoryBtn{
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}.storeBtn{
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}.userIcon{
  margin-left: 20px;
  border-radius: 70%;
  width: 55px;
  height: 55px;
  border: #0495a9 solid 3px;
  object-fit: cover;    /* 이미지 비율 유지 */
  cursor: pointer;
}

.messenger{
  width: 270px;
  height: 850px;
  background-color: #040f18;
  float: right;
}.messengerText{
  outline:none;
  border: none;
  background: none;
  font-weight: bold;
  color: #d3c495;
  float: left;
  margin: 5px;
}.messengerBtn{
  width: 18px;
  height: 18px;
  outline:none;
  border: none;
  background: none;
  float: right;
  margin: 5px;
}.messengerBtn > img{
  width: 18px;
  height: 18px;
  outline:none;
  border: none;
  background: none;
  color: black;
  float: right;
  margin: 5px;
  filter: saturate(500%);
}.messengerBtn > img:hover{
  filter: saturate(0%);
}

.span1{
  color: white;
}