@font-face {
	font-family: "nbg";
	src: url("../assets/font/NanumBarunGothic.ttf");
}

@font-face {
	font-family: "nbgB";
	src: url("../assets/font/NanumBarunGothicBold.ttf");
}

@font-face {
	font-family: "nbgL";
	src: url("../assets/font/NanumBarunGothicLight.ttf");
}

@font-face {
	font-family: "nbgUL";
	src: url("../assets/font/NanumBarunGothicUltraLight.ttf");
}

body{
  background-color: black;
  min-width: 1920px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}


.mouseover{
  &:hover{
    background: linear-gradient(180deg,rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255, 255, 255, 0.15) 100%);
  }
}

.homeBody{
  width: 1920px;
  height: 1080px;
}
.header{
  width: 1920px;
  min-width: 1920px;
  height: 80px;
  min-width: 80px;
  background-color: #020e17;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;   /* border 안쪽으로 넣을때 쓰는거 */
  border-top: 3px solid #785a28;
  border-bottom: 1px solid rgba(222, 187, 128, 0.3);
  background-clip: padding-box /* border설정할 때 투명도를 건드리면 회색이 되는데, 원색을 찾기 위해서 써줘야함 */
}.headerBtnBox{
  width: calc(1920px - 270px);
  height: 80px;
  display: flex;
  align-items: center;
  /* border: white 1px solid; */
}.headerBtnBox > .leftBtnBox{
  width: 1300px;
  /* border: white 1px solid; */
}.headerBtnBox > .rightBtnBox{
  width: calc(1650px - 1300px);
  display: flex;
  justify-content: flex-end;
  /* border: white 1px solid; */
}.headerProfileBox{
  margin-left: 0px;
  width: 270px;
  display: flex;
  align-items: center;
}.noticeBtn{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  border: none;
  background: #0495a9;
  cursor: pointer;
  color: white;
  border-radius: 70%;
  width: 40px;
}.homeBtn{
  font-size: 25px;
  border: none;
  background: none;
  color: #d3c495;
  cursor: pointer;
  width: 60px;
  height: 74px;
}.boardBtn{
  font-size: 20px;
  background: none;
  border: none;
  color: #d3c495;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  width: 160px;
  height: 70px;
}.myInfoBtn{
  width: 60px;
  height: 70px;
  background: none;
  border: none;
  cursor: pointer;
  img{
    height: 30px;
  }
}.inventoryBtn{
  width: 60px;
  height: 70px;
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  img{
    height: 30px;
  }
}.storeBtn{
  width: 60px;
  height: 70px;
  margin-left: 10px;
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  img{
    height: 30px;
  }
}.myInfoImg{
  height: 30px;
}.inventoryImg{
  height: 30px;
}.storeImg{
  height: 30px;
}.userIcon{
  margin-left: 10px;
  border-radius: 70%;
  width: 55px;
  height: 55px;
  border: #0495a9 solid 3px;
  object-fit: cover;    /* 이미지 비율 유지 */
  cursor: pointer;
}


.messenger{
  width: 270px;
  height: 850px;
  background-color: #040f18;
  float: right;
}.messengerBtnBox{
  width: 100%;
  height: 40px;
}.messengerText{
  font-weight: bold;
  color: #d3c495;
  float: left;
  margin: 5px;
  margin-left: 10px;
}.messengerBtn{
  width: 18px;
  height: 18px;
  outline:none;
  border: none;
  background: none;
  float: right;
  margin: 5px;
}.messengerBtn > img{
  width: 18px;
  height: 18px;
  outline:none;
  border: none;
  background: none;
  color: black;
  float: right;
  margin: 5px;
  filter: saturate(500%);
}.messengerBtn > img:hover{
  filter: saturate(0%);
}.messengerGroupArea{
  border: white solid 1px;
  width: 100%;
  height: calc(100% - 40px);
}

.iconModal{
  display: flex;
  border: solid #463714 2px;
}.iconModalLeftBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 250px;
  height: 600px;
  img{
    border-radius: 70%;
    width: 120px;
    height: 120px;
    border: #0495a9 solid 3px;
    object-fit: cover;    /* 이미지 비율 유지 */
    margin-bottom: 20px;
  }
  p{
    text-align: center;
    color: white;
    font-size: 18px;
    height: 30px;
    margin-bottom: 80px;
  }
}.iconModalRightBox{
  width : 750px;
  height: 600px;
}.iconModalTitle{
  padding: 20px;
  p{
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
}.iconSelectArea{
  border: #463714 solid 1px;
  height: 480px;
  width: 710px;
  display: flex;
  flex-wrap: wrap;
}.iconsBox{
  padding: 10px;
  img{
    flex-basis: 100px;
    height: 100px;
    border: #7c6224 solid 3px;
    object-fit: cover;    /* 이미지 비율 유지 */
    margin-bottom: 20px;
    cursor: pointer;
  }
}
.nameBox{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 50px;
  p{
    margin: 0px;
    color: white;
  }
  .nickname{
    color: white;
    font-size: 16px;
    height: 20px;
    margin-top: 14px;
    margin-bottom: 0px;
    /* border: solid white 1px; */
  }
  .profileMessage{
    font-size: 12px;
    margin-left: 16px;
    color: green;
  }
}
.logoutBtn{
 
}



.span1{
  color: white;
}