ul{
    color: rgb(255, 255, 255);
    list-style:none;
    padding-left:0px;
}
li{
    color: rgb(255, 255, 255);
    list-style:none;
    padding-left:0px;
}
th{
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100px;
    height: 50px;
}
td{
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100px;
}

.boardTable{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    thead{
        border-bottom: 2px rgba(255,255,255, 0.3) solid;
    }
    tbody{
        border-bottom: 1px rgba(255,255,255, 0.3) solid;
    }
}.th_title, .td_title{
    width: 500px;
}.td_title{
    text-align: left;
}
.mainBody{
    background-color: #1E1E20;
    width: calc(1920px - 270px);
    height: calc(850px);
}.boardName{
    color: white;
}