/* Main.css */
ul{
    color: rgb(255, 255, 255);
    list-style:none;
    padding-left:0px;
}
li{
    color: rgb(255, 255, 255);
    list-style:none;
    padding-left:0px;
}
th{
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100px;
    height: 50px;
}
td{
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100px;
    height: 30px;
    border-bottom: 1px rgba(255,255,255, 0.1) solid;
    a{
        &:link{
            text-decoration: none;
            color: white;
        }
        &:visited{
            text-decoration: none;
            color: white;
        }
        &:hover{
            text-decoration: underline;
        }
        &:active{
            text-decoration: underline;
        }
    }
}

.boardTable{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    thead{
        border-top: 2px rgba(255,255,255, 0.2) solid;
        border-bottom: 1px rgba(255,255,255, 0.1) solid;
    }
    tbody{
        min-width: 1000px;
        border-bottom: 1px rgba(255,255,255, 0.2) solid;
    }
}.th_title, .td_title{
    width: 500px;
}.td_title{
    text-align: left;
}
.mainBody{
    background-color: #1E1E20;
    width: calc(1920px - 270px);
    height: calc(850px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}.boardName{
    color: white;
}

.slideBox{
    width: 1000px;
    img{
        width: 1000px;
        height: auto;
    }
}
.hotPostBox{
    width: 1000px;
    height: 200px;
    border: white solid 1px;
    display: flex;
    .host-post{
        flex-basis: 100%;
        border: white solid 1px;
    }
}

/* PostDetail.css */
.postBox{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    border: 1px rgba(255,255,255, 0.2) solid;
    margin-top: 30px;
    padding: 30px;
    p{
        color: white;
    }
    .post-header{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        border-bottom: 1px rgba(255,255,255, 0.2) solid;
        .post-title{
            flex-basis: 100%;
            color: white;
        }
        .post-writer{
            flex-basis: 100%;
            margin: 0px;
            margin-left: 20px;
        }
        .post-date{
            margin-left: 20px;
            margin-right: 10px;
            font-size: 13px;
        }
        .post-views{
            font-size: 13px;
        }
    }
    .post-body{
        display: flex;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
        .post-content{
            font-size: 20px;
            font-weight: lighter;
            flex-basis: 100%;    
        }
    }
    .post-footer{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 10px;
        border-bottom: 1px rgba(255,255,255, 0.2) solid;
        .post-like{
            margin-right: 20px;
        }
        .post-comment{

        }
        .commentBox{
            display: flex;
            flex-basis: 100%;
            .comment-body{
                display: flex;
                flex-wrap: wrap;
                flex-basis: 100%;
            }
        }
    }
    
}.comment-textarea-container{
    border: solid rgba(255, 255, 255, 0.2) 1px;
    flex-basis: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    p{
        margin: 0px;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    textarea{
        flex-basis: 100%;
        background: none;
        border: none;
        color: white;
        margin-bottom: 10px;
        resize: none;
        overflow: hidden;
        &:focus{
            outline: rgba(255, 255, 255, 0.5) solid 1px;
            border-radius: 5px;
        }
    }
    .btnBox{
        flex-basis: 100%;
        display: flex;
        justify-content: flex-end;
        button{
            border: white solid 1px;
            background: none;
            color: white;
        }
    }
}


/* Post.css */
.writeBox {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    border: 1px rgba(255,255,255, 0.2) solid;
    margin-top: 30px;
    padding: 30px;

    .write-header {
        flex-basis: 100%;
        margin-bottom: 20px;

        .write-title {
            font-size: 24px;
            color: white;
          }
      }
      
      .write-body {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
        border: rgba(255, 255, 255, 0.2) solid 1px;

        input{
          flex-basis: 100%;
          background: none;
          height: 50px;
          border: none;
          color: white;
          margin: 20px;
          margin-bottom: 0px;
          padding: 10px;
          &:focus{
            outline: rgba(255, 255, 255, 0.5) solid 1px;
            border-radius: 5px;
        }
        }
        textarea {
          flex-basis: 100%;
          min-height: 500px;
          background: none;
          border: none;
          color: white;
          margin: 20px;
          padding: 10px;
          resize: none;
          overflow: hidden;
          &:focus{
              outline: rgba(255, 255, 255, 0.5) solid 1px;
              border-radius: 5px;
          }
        }
      }
      
      .write-footer {
        display: flex;
        justify-content: flex-end;
        .btnBox{
            flex-basis: 100%;
            display: flex;
            justify-content: flex-end;
            button{
                border: white solid 1px;
                background: none;
                color: white;
            }
        }
      }
    
  }

